.bg-light-blue {
  background-color: #DBEDFA;
}
.bg-sky-blue{
    background-image: linear-gradient(#065192, #67C7E2);
    height:300px;
    overflow: hidden;
}
.block-titles{
    font-size:10px;
}
.block-img{
    position: absolute;
    bottom: 0;
}
